@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');


.bg {
    width: 70%;
    object-fit: cover;
}

.custom_header {
    height: 100px;
}

.outline2 {
    background-color: #A10505;
    font-family: 'Noto Serif', serif;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
    width: auto;
    margin: 50px;
    padding: 30px;
}
